body
{
    background-color:aquamarine;
}
.backgrounds{
    background-color:aquamarine;
}
li{
    padding: 0 0 10px 0;
}

.sectionTitle {
    font-weight: bold;
    text-align:center;
    font-size:50px;
}

.verseList{
    padding:0 0 2px;
    list-style-type:none;
}

.commentaryButton{
    position:absolute;
    left:78%;
}

.verseReference{
    font-weight:bold;
    padding: 0 0 0 10px;
    font-size: 18px;
}

.verse{
    list-style-type:none;
    font-size:15px;
    padding: 0 10px 10px 0
}

.verseContainer {
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding:5px 0 0 0;
}

.JesusSpeaking{
    color:red;
}

