body
{
}

.testVerseContainer {
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 5px 0 0 0;
    text-align: left;
    width:45vw;
}

.testContainer{
    padding: 0 10px 0 10px;
    
    
}

.testVerseList{
    display:inline-block;
    list-style-type:none;

}